In [1]:
import pandas as pd 
import openpyxl
import mysql.connector

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', 118)

In [2]:
df = pd.read_excel('datasets/census_2011.xlsx')

### Task 1
#### Columns name to Change  

- **State name** → State_UT
- **District name** → District
- **Male_Literate** → Literate_Male
- **Female_Literate** → Literate_Female
- **Rural_Households** → Households_Rural
- **Urban_ Households** → Households_Urban
- **Age_Group_0_29** → Young_and_Adult
- **Age_Group_30_49** → Middle_Aged
- **Age_Group_50** → Senior
- **Age not stated** → Age_Not_Stated_
ot_Stated

In [4]:
df.rename(columns={"State name":"State_UT",
                   "District name":"District",
                   "Male_Literate":"Literate_Male",
                   "Female_Literate" : "Literate_Female",
                   "Rural_Households" : "Households_Rural",
                   "Urban_Households" : "Households_Urban",
                   "Age_Group_0_29" : "Young_and_Adult",
                   "Age_Group_30_49" : "Middle_Aged", 
                   "Age_Group_50" : "Senior_Citizen",   
                   "Age not stated" : "Age_Not_Stated" },inplace=True)

### Task 2
#### Rename State/UT Names

In [6]:
def capitalize(col):
    return col.title().replace(" And ", " and ")
df["State_UT"]=df["State_UT"].apply(capitalize)

In [7]:
Telangana_disticts=['Adilabad',
 'Nizamabad',
 'Karimnagar',
 'Medak',
 'Hyderabad',
 'Rangareddy',
 'Mahbubnagar',
 'Nalgonda',
 'Warangal',
 'Khammam']

### Task 3
#### New State/UT formation

In [8]:
df.loc[df['District'].isin(Telangana_disticts), 'State_UT'] = 'Telangana'

In [ ]:
df[df['State_UT'] == 'Telangana']

In [10]:
def update_state(row):
    if row['District'] in ['Leh(Ladakh)', 'Kargil']:
        return 'Ladakh'
    return row['State_UT']  # Keep the existing value if the condition is not met

df['State_UT'] = df.apply(update_state, axis=1)

In [10]:

df.loc[df['District'].isin(['Leh(Ladakh)','Kargil']), 'State_UT	'] = 'Ladakh'

In [ ]:
df[df['State_UT'] == 'Ladakh']

No Of Null Values

### Task 4
#### Find and process Missing Data

In [ ]:
df.isnull().sum()

In [14]:
df.isnull().sum().sum()
#np.int64(3622)

np.int64(3622)

#### Population,Male,Female Calculation

In [15]:
Fill_Male_NA = df['Population']-df['Female']
df['Male'] = df['Male'].fillna(Fill_Male_NA) # Male

Fill_Female_NA = df['Population']-df['Male']
df['Female'] = df['Female'].fillna(Fill_Female_NA) # Female

total = df['Female']+df['Male']
df['Population'] = df['Population'].fillna(total) # total population

#### Literate,Male,Female calculation

In [18]:
Literate_Male = df['Literate']-df['Literate_Female']
df['Literate_Male'] = df['Literate_Male'].fillna(Literate_Male) # Literate_Male

Literate_Female = df['Literate']-df['Literate_Male']
df['Literate_Female'] = df['Literate_Female'].fillna(Literate_Female) #Literate_Female

Literate = df['Literate_Male']+df['Literate_Female']
df['Literate'] = df['Literate'].fillna(Literate) # Literate

##### Population  = Young_and_Adult+  Middle_Aged + Senior_Citizen + Age_Not_Stated

In [21]:
#Population  = Young_and_Adult+  Middle_Aged + Senior_Citizen + Age_Not_Stated
Population = df['Young_and_Adult']+df['Middle_Aged']+df['Senior_Citizen']+df['Age_Not_Stated']
df['Population'] = df['Population'].fillna(Population)

Households_Rural

In [22]:
cal_Households_Rural  = df['Households']-df['Households_Urban']
df['Households_Rural'] = df['Households_Rural'].fillna(cal_Households_Rural ) #Households_Rural

cal_Households_Urban = df['Households']-df['Households_Rural']
df['Households_Urban'] = df['Households_Urban'].fillna(cal_Households_Urban) #Households_Urban

cal_Households = df['Households_Urban']+df['Households_Rural']
df['Households'] = df['Households'].fillna(cal_Households) #Households

In [ ]:
#total no of null cells 
df.isnull().sum().sum()
#np.int64(3350)

In [26]:
#sc calculation

cal_sc=df['Male_SC']+df['Female_SC']
df['SC'] = df['SC'].fillna(cal_sc)

cal_malesc=df['SC']-df['Female_SC']
df['Male_SC'] = df['Male_SC'].fillna(cal_malesc)

cal_femalesc=df['SC']-df['Male_SC']
df['Female_SC'] = df['Female_SC'].fillna(cal_femalesc)

In [27]:
#st calculation

cal_st=df['Male_ST']+df['Female_ST']
df['ST'] = df['ST'].fillna(cal_st)

cal_malest=df['ST']-df['Female_ST']
df['Male_ST'] = df['Male_ST'].fillna(cal_malest)

cal_femalest=df['ST']-df['Male_ST']
df['Female_ST'] = df['Female_ST'].fillna(cal_femalest)

In [28]:
# workers calculation

cal_workers=df['Male_Workers']+df['Female_Workers']
df['Workers'] = df['Workers'].fillna(cal_workers)

cal_Male_Workers=df['ST']-df['Female_Workers']
df['Male_Workers'] = df['Male_Workers'].fillna(cal_Male_Workers)

cal_Female_Workers=df['ST']-df['Male_Workers']
df['Female_Workers'] = df['Female_Workers'].fillna(cal_Female_Workers)

In [ ]:
# total no of null cells after calculation
df.isnull().sum().sum()
#np.int64(3127)

In [ ]:
df.isnull().sum().to_frame()

### Task 5
#### Save Data to MongoDB

In [32]:
# to_dick for converting into mongodb format
data=df.to_dict(orient='records')

In [33]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/") 
#db creation
database = client["guvi_db"]
# collection creation
database.create_collection("census")

In [35]:
database = client["guvi_db"]
census_col=database["census"]

In [36]:
# inserting data 
result = census_col.insert_many(data)
print(result.acknowledged)

True

In [64]:
print("Total documents in collection:", census_col.count_documents({})) # checking insertion

Total documents in collection: 640

In [ ]:
cursor = census_col.find({})
cursor
mongo_col=list(cursor)

In [42]:
import pandas as pd
mongo_df = pd.DataFrame(mongo_col)  # mongo format to pandas df

In [48]:
mongo_df.drop('_id', axis=1,inplace=True) # droping _id column

### Task 6
#### MYSQL CONNECTION

In [ ]:
import mysql.connector

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="mysqlpass@123"
)
cursor=mydb.cursor()

In [ ]:
cursor.execute("CREATE DATABASE db_guvi1") # database creation
cursor.execute("use  db_guvi")

In [50]:
for i in mongo_df.columns:  #checking for col name more than 64
    if len(i)>63:
        print(i)
    else:
        pass

Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car
Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households
Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households
Not_having_bathing_facility_within_the_premises_Total_Households
Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households
Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households
Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households
Location_of_drinking_water_source_Within_the_premises_Households

In [51]:
#Renamed the following column names because it has reached the limit on the length of identifier names
mongo_df.rename(columns = {"Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car":"Households_with_TV_Computer_Laptop_Mobile_Scooter_Car",
                              "Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households":"Latrine_Facility_Night_Soil_Disposed_Open_Drain_Households",
                              "Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households":"Latrine_Facility_Flush_Connected_Other_System_Households",
                               "Not_having_bathing_facility_within_the_premises_Total_Households":"Not_having_bathing_facility_within_premises_Total_Households",
                              "Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households":"No_Latrine_Facility_Alternative_Source_Open_Households",
                              "Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households":"Main_Drinking_Water_Handpump_Tubewell_Borewell_Households",
                              "Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households":"Main_Drinking_Water_Other_Sources_Spring_River_Canal_Households",
                              "Location_of_drinking_water_source_Within_the_premises_Households":"Location_of_drinking_water_source_Within_premises_Households"},inplace=True)

In [54]:
import sqlalchemy  #sqlalchemy for inserting data 
from sqlalchemy import create_engine,text

In [55]:
url = 'mysql://root:mysqlpass%40123@localhost:3306/db_guvi'

engine = create_engine(url)
connection = engine.connect()

In [57]:
#sample query 
with engine.connect() as connection:
    result = connection.execute(text("show databases")).fetchall()
print(result)

[('classicmodels',), ('db_guvi',), ('db_guvi1',), ('gowtham',), ('information_schema',), ('mysql',), ('performance_schema',), ('pr',), ('sys',)]

In [58]:
#inserting data into db_guvi.census
mongo_df.to_sql('census', con=engine, if_exists='append', index=False)

640